@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins' , sans-serif;
}

body {
  height:100vh;
  background: url("images/green gradient.jpg");
  background-position: center;
  background-size: cover;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}

header .navbar {
  display: flex;
  align-items:center;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.navbar .menu-links {
  display: flex;
  gap: 40px;
}

.navbar a {
  color: #b6d7a8;
  text-decoration: none;
  transition: 0.2s ease;
}

.navbar a:hover {
  color:#456c96;
}

.navbar .logo{
   font-size: 2.1rem;
   font-weight: 600;
}

.navbar .logo span{
  color: #af2e2e;
}

.navbar .menu-links {
  display: flex;
  gap: 40px;
}

.top {
  background-color: white;
  position: sticky;
  top: 0;
  position:sticky;
  z-index: 9999;
}

.description{
  background-color: white;
  color: #b6d7a8;
  text-align: center;
  font-size: 15px;
  padding: 50px;
}

.ourstorybutton{
  margin-top: 25px;
}

ul {
  list-style-type: none;
}

.container{
  padding: 2rem;
  position: relative;
  z-index: 1;
}

.slider-wrapper {
  position:relative;
  max-width: 48rem;
  margin: 0 auto;
  position: relative;
}

.slider{
  display:flex;
  aspect-ratio: 16/9;
  overflow-x:auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3 rem -0.75 hsla(0,0%,0%,0.25);
  border-radius: 0.5rem;
  position: relative;
}

.slider img{
  flex:1 0 100%;
  scroll-snap-align: start ;
  object-fit: cover;
  position: relative;
}

.slider-nav{
  display:flex;
  column-gap:1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translate(-50%);
}

.slider-nav a{
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
  position: relative;
}


.slider-nav a:hover{
  opacity:1;
  position: relative;
}

.contact{
  padding: 25px;
  gap: 50;
  background-color: white;
  color: #b6d7a8;
  text-align: center;
  font-size: 10px;
}

* {
  font-family: Nunito, sans-serif;
}

.text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.responsive-container-block.bigContainer {
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  margin-top: 50px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.responsive-container-block.Container {
  max-width: 1320px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.mainImg {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.blueDots {
  position: absolute;
  top: 150px;
  right: 15%;
  z-index: -1;
  left: auto;
  width: 80%;
  height: 500px;
  object-fit: cover;
}

.imgContainer {
  position: relative;
  width: 48%;
}

.responsive-container-block.textSide {
  width: 48%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  z-index: 100;
}

.text-blk.heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.text-blk.subHeading {
  font-size: 18px;
  line-height: 26px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.cardImg {
  width: 100px;
  height: auto;
}

.cardImgContainer {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgb(229, 229, 229);
  border-right-color: rgb(229, 229, 229);
  border-bottom-color: rgb(229, 229, 229);
  border-left-color: rgb(229, 229, 229);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.text-blk.cardHeading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.text-blk.cardSubHeading {
  color: rgb(153, 153, 153);
  line-height: 22px;
}

.explore {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: white;
  background-color: rgb(244, 152, 146);
  box-shadow: rgba(244, 152, 146, 0.25) 0px 10px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: initial;
  border-right-style: initial;
  border-bottom-style: initial;
  border-left-style: initial;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-top: 17px;
  padding-right: 40px;
  padding-bottom: 17px;
  padding-left: 40px;
}

.explore:hover {
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(244, 182, 176);
}

#ixvck {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.redDots {
  position: absolute;
  bottom: -350px;
  right: -100px;
  height: 500px;
  width: 400px;
  object-fit: cover;
  top: auto;
}

@media (max-width: 1024px) {
  .responsive-container-block.Container {
    position: relative;
    align-items: flex-start;
    justify-content: center;
  }

  .mainImg {
    bottom: 0px;
  }

  .imgContainer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: auto;
    width: 60%;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    width: 70%;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .imgContainer {
    position: relative;
    width: auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
    width: 100%;
  }

  .responsive-container-block.Container {
    flex-direction: row-reverse;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }
}

@media (max-width: 768px) {
  .responsive-container-block.textSide {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .text-blk.subHeading {
    text-align: center;
    font-size: 17px;
    max-width: 520px;
  }

  .text-blk.heading {
    text-align: center;
  }

  .imgContainer {
    opacity: 0.8;
  }

  .imgContainer {
    height: 500px;
  }

  .imgContainer {
    width: 30px;
  }

  .responsive-container-block.Container {
    flex-direction: column-reverse;
  }

  .responsive-container-block.Container {
    flex-wrap: nowrap;
  }

  .responsive-container-block.textSide {
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .imgContainer {
    width: 90%;
  }

  .imgContainer {
    height: 450px;
    margin-top: 5px;
    margin-right: 33.9062px;
    margin-bottom: 0px;
    margin-left: 33.9062px;
  }

  .redDots {
    display: none;
  }

  .explore {
    font-size: 16px;
    line-height: 14px;
  }
}

@media (max-width: 500px) {
  .imgContainer {
    position: static;
    height: 450px;
  }

  .mainImg {
    height: 100%;
  }


  .imgContainer {
    width: 100%;
  }

  .responsive-container-block.textSide {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .responsive-container-block.Container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    overflow-x: visible;
    overflow-y: visible;
  }

  .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding: 0 30px 0 30px;
  }


  .text-blk.subHeading {
    font-size: 16px;
    line-height: 23px;
  }

  .text-blk.heading {
    font-size: 28px;
    line-height: 28px;
  }

  .responsive-container-block.textSide {
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .imgContainer {
    margin-top: 5px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    width: 100%;
    position: relative;
  }

  .explore {
    padding-top: 17px;
    padding-right: 0px;
    padding-bottom: 17px;
    padding-left: 0px;
    width: 100%;
  }

  #ixvck {
    width: 90%;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    font-size: 15px;
  }

  .text-blk.cardHeading {
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
    line-height: 25px;
  }

  .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
}



.why-us .why-box {
 color: var(--contrast-color);
 background: var(--accent-color);
 padding: 30px;
}


.why-us .why-box h3 {
 color: var(--contrast-color);
 font-family: var(--default-font);
 font-weight: 700;
 font-size: 34px;
 margin-bottom: 30px;
}


.why-us .why-box p {
 margin-bottom: 30px;
}


.why-us .why-box .more-btn {
 display: inline-block;
 background: color-mix(in srgb, var(--contrast-color), transparent 85%);
 padding: 8px 40px 10px 40px;
 color: var(--contrast-color);
 transition: all ease-in-out 0.4s;
 border-radius: 50px;
}


.why-us .why-box .more-btn i {
 font-size: 14px;
}


.why-us .why-box .more-btn:hover {
 color: var(--accent-color);
 background: var(--surface-color);
}


.why-us .icon-box {
 background-color: var(--surface-color);
 text-align: center;
 padding: 40px 30px;
 width: 100%;
 height: 100%;
 border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
}


.why-us .icon-box i {
 color: var(--accent-color);
 font-size: 32px;
 margin-bottom: 30px;
 background: color-mix(in srgb, var(--accent-color), transparent 95%);
 border-radius: 50px;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 72px;
 height: 72px;
 transition: 0.3s;
}


.why-us .icon-box h4 {
 font-size: 20px;
 font-weight: 500;
 margin: 0 0 30px 0;
 font-family: var(--default-font);
}


.why-us .icon-box p {
 font-size: 15px;
 color: color-mix(in srgb, var(--default-color), transparent 30%);
}


.why-us .icon-box:hover i {
 color: var(--contrast-color);
 background: var(--accent-color);
}


/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats {
 position: relative;
 padding: 120px 0;
}


.stats img {
 position: absolute;
 inset: 0;
 display: block;
 width: 100%;
 height: 100%;
 object-fit: cover;
 z-index: 1;
}


.stats:before {
 content: "";
 background: color-mix(in srgb, var(--background-color), transparent 40%);
 position: absolute;
 inset: 0;
 z-index: 2;
}


.stats .container {
 position: relative;
 z-index: 3;
}


.stats .stats-item {
 padding: 30px;
 width: 100%;
}


.stats .stats-item span {
 font-size: 48px;
 display: block;
 color: var(--default-color);
 font-weight: 700;
}


.stats .stats-item p {
 padding: 0;
 margin: 0;
 font-size: 16px;
 font-weight: 700;
 color: color-mix(in srgb, var(--default-color), transparent 40%);
}


/*--------------------------------------------------------------
# Menu Section
--------------------------------------------------------------*/
.menu .nav-tabs {
 border: 0;
}


.menu .nav-link {
 background-color: var(--background-color);
 color: color-mix(in srgb, var(--default-color), transparent 20%);
 margin: 0 15px;
 padding: 10px 5px;
 transition: 0.3s;
 border-radius: 0;
 cursor: pointer;
 height: 100%;
 border: 0;
 border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 80%);
}


@media (max-width: 575px) {
 .menu .nav-link {
   margin: 0 10px;
   padding: 10px 0;
 }
}


.menu .nav-link i {
 padding-right: 15px;
 font-size: 48px;
}


.menu .nav-link h4 {
 font-size: 18px;
 font-weight: 400;
 margin: 0;
 font-family: var(--default-font);
}


@media (max-width: 575px) {
 .menu .nav-link h4 {
   font-size: 16px;
 }
}


.menu .nav-link:hover {
 color: var(--accent-color);
 border-color: var(--accent-color);
}


.menu .nav-link.active {
 background-color: var(--background-color);
 color: var(--accent-color);
 border-color: var(--accent-color);
}


.menu .tab-content .tab-header {
 padding: 30px 0;
}


.menu .tab-content .tab-header p {
 font-size: 14px;
 text-transform: uppercase;
 color: color-mix(in srgb, var(--default-color), transparent 20%);
 margin-bottom: 0;
}


.menu .tab-content .tab-header h3 {
 font-size: 48px;
 font-weight: 700;
 color: var(--accent-color);
}


.menu .tab-content .menu-item {
 text-align-last: center;
}


.menu .tab-content .menu-item .menu-img {
 padding: 0 60px;
 margin-bottom: 15px;
}


.menu .tab-content .menu-item h4 {
 font-size: 24px;
 font-weight: 400;
 margin-bottom: 5px;
 font-family: var(--default-font);
}


.menu .tab-content .menu-item .ingredients {
 font-family: var(--nav-font);
 color: color-mix(in srgb, var(--default-color), transparent 50%);
 margin-bottom: 5px;
}


.menu .tab-content .menu-item .price {
 font-size: 24px;
 font-weight: 700;
 color: var(--accent-color);
}







.container {
  padding: 64px;
  font-family: Arial, sans-serif;
}

.container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.container p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.contact-info {
  color: #607d8b;
  font-size: 1.2em;
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 16px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.submit-button {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #ddd;
}


